
<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<center>
    <h1> main </h1><br>


    <input type="button" value="후원자" onClick="self.location='supporter';" />
    <input type="button" value="창작자" onClick="self.location='creatorpage';" />


</center>
</body>
</html>

